{% extends 'components/layout.html' %} 

{% block leftcol %} 
    {{ text_a }}
    {{ text_b }}
<div class = 'card'>
    <ul>
        {% for x in top_dests %}
            {% if x not in tropicals %}
                <li class = 'list-group-item'>{{ x }}</li>
            {% endif %}
                {% endfor %}

    </ul>
</div>
{% endblock leftcol %}  

{% block rightcol %}
<div class = 'card'>
    <ul>
        {% for x in top_dests %}
            {% if x in tropicals %}
                <li class = 'list-group-item'>{{ x }}</li>
            {% endif %}
    {% endfor %}

    </ul>
</div> 
{% endblock rightcol %}